<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Cписок пользователей</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()">Добавить</button>
</mat-toolbar>
<div class="container">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Поиск</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Введите данные для поиска" #input/>
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="userInitials">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ФИО</th>
          <td mat-cell *matCellDef="let row">{{row.userInitials}}</td>
        </ng-container>
        <ng-container matColumnDef="userAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Адрес</th>
          <td mat-cell *matCellDef="let row">{{row.userAddress}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td [align]="'end'" mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editUser(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUser(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Нет данных</td>
        </tr>
      </table>
    </div>
  </div>
</div>
